<!-- {{ hostname }} -->
<header>
  <nav>
    <div class="container">
      <a class="the-jam" href="/" class="home">
        <i class="fa fa-cubes"></i>
        bvalosek.com
      </a>
    </div>
  </nav>

  <div class="container">
    <div class="portrait">
      <img src="img/circle-portrait-512.png" alt="My FACE">
    </div>

    <div class="title">
      <h1>Brandon Valosek</h1>
      <p class="tagline">
        Frontier Javascript Cowboy
      </p>
    </div>
  </div>
</header>

<main>
  <div class="bio">
    <section>
      <div class="big-icon">
        <i class="fa fa-cogs"></i>
      </div>
      <div class="realtalk">
        I'm a software engineer currently living in Austin, Texas who's been
        passionate about writing code for more than half of my life.
      </div>
      <div class="deets">
        I love building applications that people enjoy, shipping cool features,
        and writing awesome code.
      </div>
    </section>
  </div>

  <div class="values">
    <section>
      <div class="big-icon">
        <i class="fa fa-cubes"></i>
      </div>
      <div class="realtalk">
        I value solid engineering discipline and a pragmatic approach to
        building software&mdash;I want to make awesome ideas come to life in a
        robust and scalable way.
      </div>
      <div class="deets">
        I favor smart investments in technology and stable solutions that let
        me quickly ship and iterate.
      </div>
    </section>
  </div>

  <div class="profesh">
    <section>
      <div class="big-icon">
        <i class="fa fa-desktop"></i>
      </div>
      <div class="realtalk">
        Over the last three and a half years, my professional and open-source
        focus has been in Javascript web application development.
      </div>
      <div class="deets">
        I've been architecting fat-client single-page-apps, shipping server-side async sweetness with Node.js,
        and eating up all of the deliciousness that is the new ES6/ES2015 spec
        (and beyond).
      </div>
    </section>
  </div>

</main>

<div class="but-wait-theres-more">

  <div class="real-life">
    <section>
      <div class="sob-story">

        <p>
          When I'm not working on open-source or other nerdy projects, I enjoy
          writing and producing electronic music, goofing around with my dog Duckie,
          seeing awesome local shows, eating great food, and otherwise taking full advantage
          of the amazing Austin experience.
        </p>

        <p>
          If you would like to collaborate on some open-source projects or
          music, or would like to discuss any professional opportunities you
          feel I may be interested in,
          <a class="email" href="mailto:bvalosek@gmail.com">email me</a> or
          connect via any of my social networks:
        </p>

        <div class="social">
          <ul>
            <li>
              <a target="_blank" href="http://www.twitter.com/bvalosek"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/bvalosek"><i class="fa fa-github"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://soundcloud.com/bvalosek"><i class="fa fa-soundcloud"></i></a>
            </li>
            <li>
              <a target="_blank" href="http://www.linkedin.com/in/bvalosek"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://www.facebook.com/bvalosek"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a target="_blank" href="http://instagram.com/bvalosek"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>

      </div>

      <div class="best-dog-in-the-world">
        <img src="img/me-and-duck.jpg" alt="Duckie">
      </div>

    </section>
  </div>

</div>


<footer>

  <div class="the-bottom">
    <section>

      <div class="copyright">
        &copy; {{ year }} Brandon Valosek
        &lt;<a class="email" href="mailto:bvalosek@gmail.com">bvalosek@gmail.com</a>&gt;</span>
      </div>

      <div class="version">
        <span>bvalosek.com <span class="tag">v{{ version }}</span></span>
      </div>

      <div class="gpg">
        <i class="fa fa-lock"></i> <a class="dl" target="_blank" href="https://keybase.io/bvalosek/key.asc">My GPG public key</a>
        <span class="fpr">
          <a target="_blank" href="https://keybase.io/bvalosek">
            1543 A5D2 3F4A 3D73 4748  2916 4983 6DBF 3D34 69F5
            <i class="fa fa-external-link"></i>
          </a>
        </span>
      </div>


    </section>
  </div>

</footer>
